<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3BvMjZft3FFyrz2li7y3Py4rGkct9Y1M</string>
	<key>GCM_SENDER_ID</key>
	<string>679918459400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khuLibrary</string>
	<key>PROJECT_ID</key>
	<string>khulibrary-73d45</string>
	<key>STORAGE_BUCKET</key>
	<string>khulibrary-73d45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679918459400:ios:88fc77f94f2a683b4c0fbd</string>
</dict>
</plist>